/* *****************main1******************** */
.mainwe1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 42px;
    margin: auto;
}

.firstwe1 {
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 15px 15px;
    margin: 20px 0px;
}

.firstwe1 p {
    font-size: 18px;
}

.stepheight {
    height: 192px;
}

.secwork p {
    font-size: 18px;
}

@media (max-width: 600px) {
    .mainwe1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .secwork{
        display: none;
    }
}
