    .needimg{
        height: 180px;
    }
    /* *****************main1******************** */
    .mainwe1 {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 42px;
      margin: auto;
    }
    
    .firstwe1 {
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 15px 15px;
    margin: 20px 0px;
    width: 100%;
    }
    
    .firstwe1 p {
      font-size: 18px;
    }
    
    .secwe1 {
      background: rgba(255, 255, 255, 0.43);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 30px 15px 15px;
      margin: 20px 0px;
      width: 100%;
    }
    
    .secwe1 p {
      font-size: 18px;
    }
    .mid{
      margin: 117px -100px;
      z-index: 1;
  }
  .midimg{
      height: 150px;
      /* transition: transform .2s;  */
  }
  .midimg:hover{
    transform: rotateY(180deg);
}
    
    @media(max-width: 600px) {
      .mainwe1 {
          display: block;
          justify-content: center;
          text-align: center;
          gap: 10px;
      }
      .secwe1 {
          margin-top: 7px;
      }
    }